html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---Start--- */
main{

}

.container-navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: linear-gradient(to right, #672280, #A626D3);
  color: #FFF;
  font-size: 1.5rem;
}

.container-grid-form{
  display: grid;  
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
  width: 800px;
}

.container-form{
  display: flex;
  justify-content: center;
  padding: 36px;
}

.navbar--left{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-icon{
  height: 2.5rem;
  width: 2.5rem;
}

.form--button{
  grid-column: 1 / -1;
  background: linear-gradient(to right, #672280, #A626D3);
  color: #FFF;
  cursor: pointer;
}

.form--input{
  text-indent: 5px;
}

.form--button,
.form--input{
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}

.meme--image{
  max-width: 500px;
  border-radius: 3px;
}

.meme {
  display: flex;
  justify-content: center;
  position: relative;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

